<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
    <link rel="stylesheet" href="css/landingpage2.css">
</head>
<body>
    <!-- <nav class="nav-bar"> -->
        <div class="nav">
        <a class="navbar-brand">GEARSHARE</a>  
        <a class="navbar-bottom" id="home" href="#">HOME</a>
        <a class="navbar-bottom" id="shop" href="#">SHOP</a>

        <div class="dropdown">
            <a  class="navbar-bottom" id="category"  href="#">CATEGORIES</a>
            <div class="dropdown-content">
                <a href="#">Power & Tools</a>
                <a href="#">Camera & Vedio</a>
                <a href="#">Gadget & Tech</a>
                <a href="#">Home Gadget</a>
                <a href="#">Hobby & Fun</a>
            </div>
        </div>

        <a class="navbar-bottom" id="contact" href="#">CONTACT</a>
        <button   class="navbar-bottom"  id="login">login</button>
        <button   class="navbar-bottom" id="signup">Signup</button>
        </div>
    <!-- </nav> -->


</body>
</html>