<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>landing page</title>
    <link rel="stylesheet" href="css/landing_page.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <!-- Top Navbar -->
    <div class="top-bar1"></div>
<nav class="top-bar">
    <h3 class="top-write" ><i class="fa fa-phone"  style="padding: 4px;"></i>Call (123)-456-7890<span style="margin-left: 20px; ">Support@gearshare.com</span></h3>
</nav>
  <!-- Top Navbar -->
<nav class="navbar">
    <p class="navbar-brand" style="color:#1E56C0; font-size: 35px; position: absolute; margin: 0;">GEAR<p   class="navbar-brand"  style="color:#F36C21; font-size: 35px; position: absolute; margin-left: 6%; margin-top: 15.5px;">SHARE</p></p>
    <div class="container-fluid">
    <input  class="search"  type="search" placeholder="Search gear to rent">
    <button class="search-btn"><svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="white" viewBox="0 0 24 24">
  <path d="M15.5 14h-.79l-.28-.27A6.471 6.471 0 0016 9.5
           6.5 6.5 0 109.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5
           4.99L20.49 19l-4.99-5zm-6 0C8.01 14 6 11.99 6 9.5S8.01
           5 10.5 5 15 7.01 15 9.5 12.99 14 10.5 14z"/>
</svg>Search</button>
    <button class="login"><svg xmlns="http://w3.org" viewBox="0 0 24 24" width="30px" height="30px">
  <!-- Transparent circular background -->
  <circle cx="12" cy="12" r="12" fill="transparent" />
  
  <!-- White Profile Silhouette -->
  <g fill="#FFFFFF">
    <path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"/>
  </g>
</svg>Login</button>
    <button class="signup"><svg xmlns="http://w3.org" viewBox="0 0 24 24" width="30" height="30" fill="white">
  <path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4zm10-2h-3v-3h-2v3h-3v2h3v3h2v-3h3v-2z"/>
</svg>Sign Up</button>
  </div>
</nav>

<!-- Hero Banner -->
<section class="hero-banner">
    <div class="hero-overlay"></div>
        <div class="hero-content">
            <h1 class="hero-title">Rent Gadges And Tools Anytime,Anywhere</h1>
            <p class="hero-subtitle">Save money by renting  what you need , earn by sharing what you own</p>
    </div>
</section>

<!-- Start Renting and List Your Item Button -->
<div class="button2">
    <svg  class="secure-logo"   xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 24 24" fill="#11184">
  <path d="M12 2L4 5v6c0 5.25 3.19 10.06 8 11 4.81-.94 8-5.75 8-11V5l-8-3zm0 18c-3.86-.77-6.5-4.53-6.5-9V6.3l6.5-2.43 6.5 2.43V11c0 4.47-2.64 8.23-6.5 9zm-1-5.5l5-5-1.41-1.41L11 11.17l-1.59-1.59L8 11l3 3z"/>
</svg><h3 class="secure">Safe and Secure</h3><p class="secure-write">Verfied Renters,insured gear</p>
    <svg   class="earn-logo"   xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 24 24" fill="#11184">
  <path d="M12 1C5.93 1 1 5.93 1 12s4.93 11 11 11 11-4.93 11-11S18.07 1 12 1zm0 20c-4.97 0-9-4.03-9-9s4.03-9 9-9
           9 4.03 9 9-4.03 9-9 9zm-.5-13h1v2.09c1.16.14 2.07.99 2.07 2.16 0 1.2-.91 2.05-2.07 2.19V16h-1v-1.56c-1.16-.14-2.07-.99-2.07-2.19h1c0 .66.54 1.19 1.19 1.19.66 0 1.19-.53 1.19-1.19 0-.66-.53-1.19-1.19-1.19-.65 0-1.19-.53-1.19-1.19 0-1.17.91-2.02 2.07-2.16V8z"/>
</svg><h3 class="earn">Earning from Your Gear</h3><p class="earn-write">List Your gear & earn extra money</p>
    <button class="customer"><h2 style="font-size: 20px;">Start Renting</h2></button>
    <button class="owner"><h2 style="font-size: 20px;">List Your Item</h2></button>

</div>

<div class="popular">
       <h2 class="popular">Popular Categories</h2>
</div>

<!-- Category -->
 
<div class="category">
 
    <div class="category-item">
          <div id="power-tool"><image   class="category-image" src="C:\Users\Divya Kumawat\Downloads\Power-Tools1.jpg"></div>
          <p class="category-label">Power & Tools</p>
    </div>

    <div class="category-item">
          <div id="camera"><image   class="category-image" src="C:\Users\Divya Kumawat\Downloads\camera-vedio.jpg"></image></div>
           <p class="category-label">Camera & Vedio</p>
    </div>

    <div class="category-item">
          <div id="gadget"><image   class="category-image" src="C:\Users\Divya Kumawat\Downloads\gadget-tech.jpg"></image></div>
          <p class="category-label">Gadget & Tech</p>
    </div>
    <div class="category-item">
          <div id="home-garden"><image   class="category-image" src="C:\Users\Divya Kumawat\Downloads\home-garden.jpg"></image></div>
        <p class="category-label">Home & Gadget</p>
    </div>
    <div class="category-item">
          <div id="hobby-fun"><image   class="category-image" src="C:\Users\Divya Kumawat\Downloads\hobby-fun.jpg"></image></div>
           <p class="category-label">Hobby & Fun</p>
    </div>
  
</div>


</body>
</html>