<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="css/Login.css">
    <script src="https://kit.fontawesome.com/97ebdf5864.js" crossorigin="anonymous"></script>


</head>
<body>

    <div class="upper">
        <h2 class="login">Welcome Back to GearShare</h2>
        <p class="upper-line">Lofin to rent or share gear with ease</p>
    </div>
    <div class="main">
        <form >
                <label >Email </label>
                <input type="email"  placeholder="Enter Your Email"  required>
                <i class="fa-solid fa-envelope"></i>
       
         
                <label for="">Password</label>
                <input type="password" placeholder="Enter Your Password"   required>
                <i class="fa-solid fa-lock"></i>
            <div class="remeber">

                <input type="checkbox">Remember Me <a href="#"></a>
                
            </div>
            <button class="btn">Login</button>

            <p  class="signup-text">Don't have an account??<a href="#">SignUp</a></p>
        </form>
        
    </div>
</body>
</html>