<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="css/Login.css">
    <script src="https://kit.fontawesome.com/97ebdf5864.js" crossorigin="anonymous"></script>


</head>
<body>
<div class="hero">
    <div class="hero-text">
        <h2 class="welcone">Welcome  to GearShare</h2>
        <p class="upper-line">Login to rent or share gear with ease</p>
    </div>


    <div class="main">
        <form >
                <div class="form-group">
                <label class="email-label">Email </label>
                <input  class="email"    type="email"  placeholder="Enter Your Email"  required>
                <i class="fa-solid fa-envelope"></i>
                </div>
         
                <div class="form-group"></div>
                <label  class="password-label" for="">Password</label>
                <input  class="password"  type="password" placeholder="Enter Your Password"   required>
                <i class="fa-solid fa-lock"></i>
                </div>

                <div class="remeber">
                <input   class="remember"   type="checkbox">Remember Me <a href="#"></a>
                
            </div>
            <button class="btn">Login</button>

            <p  class="signup-text">Don't have an account??<a href="#">SignUp</a></p>
        </form>
    </div>
</div>
</body>
</html>