*{
    margin: 0;
    padding: 0;


}

.nav{
  display: flex;
  align-items: center;
  background-color: grey;
  height: 50px;

}


.navbar-bottom{
    text-decoration: none;
    font-family: sans-serif;
    /* font-weight: bold; */
    color: #000;
    /* color: #ffffff; */
}

.navbar-brand{
    font-size: 30px;
    font-family: sans-serif;
    font-weight: bold;
}

#home{
    margin-left: 12%;
    font-size: 20px;
}

#shop{
    margin-left: 2.5%;
    font-size: 20px;
}
#category{
    margin-left: 20%;
    font-size: 20px;
}
.dropdown{
    display: inline-block;
    position: relative;
}

.dropdown-content{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #ffffff;
    min-width:180px;

}

.dropdown-content a{
    display: block;
    padding: 10px 15px;
    color: white;
    text-decoration: none;
}



.dropdown-content a :hover{
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content{
    display: block;
}

#contact{
    margin-left: 4%;
    font-size: 20px;
}

#login{
    margin-left: 25%;
    font-size: 20px;
    padding: 2px 15px 2px 15px;
}

#signup{
    margin-left: 1%;
    font-size: 20px;
    padding: 2px 15px 2px 15px;
}