*{
    margin: 0;
    padding: 0;


}

.nav{
  display: flex;
  align-items: center;
  background-color: grey;
  height: 50px;

}


.navbar-bottom{
    text-decoration: none;
    font-family: sans-serif;
    /* font-weight: bold; */
    color: #000;
    /* color: #ffffff; */
}

.navbar-brand{
    font-size: 30px;
    font-family: sans-serif;
    font-weight: bold;
}

#home{
    margin-left: 12%;
    font-size: 20px;
}

#shop{
    margin-left: 2.5%;
    font-size: 20px;
}
#category{
    margin-left: 20%;
    font-size: 20px;
}
.dropdown{
    display: inline-block;
    position: relative;
}

.dropdown-content{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #ffffff;
    min-width:180px;

}

.dropdown-content a{
    display: block;
    padding: 10px 15px;
    color: white;
    text-decoration: none;
}



.dropdown-content a :hover{
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content{
    display: block;
}

#contact{
    margin-left: 4%;
    font-size: 20px;
}

#login{
    margin-left: 25%;
    font-size: 20px;
    padding: 2px 15px 2px 15px;
}

#signup{
    margin-left: 1%;
    font-size: 20px;
    padding: 2px 15px 2px 15px;
}

.images{
    display:grid;
    margin-top: 2%;
    grid-template-columns:  1fr 1fr 1fr;
    grid-template-rows: repeat(2,minmax(300px,1fr));
    gap: 10px;
    width: 100%;

    background-color: #fff;
}

.images > div{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 4px;
}

.power-tool{
   grid-column: 1;
   grid-row: 1/span 2;
   background-image: url('Power-Tools1.jpg');
   background-color: red;
}
.Camera-vedio{
   grid-column: 2;
   grid-row: 1;
   background-image: url('camera-vedio.jpg');
   background-color: red;
}
.gadget-tech{
    grid-column: 3;
   grid-row: 1;
   background-image: url('gadget-tech.jpg');
   background-color: red;
}
.home-gadget{
      grid-column: 2;
   grid-row: 2;
   background-image: url('home-garden.jpg');
   background-color: red;
}
.hobby-fun{
     grid-column: 3;
   grid-row: 2;
   background-image: url('\hobby-fun.jpg');
   background-color: red;
}
