*{
    margin: 0;
    padding: 0;

    /* box-sizing: border-box; */
}
body{
    font-family: serif;
         background-color: #FAFAFA;
  
}
.top-bar1{
    width: 100%;
    height: 50px;
    border: none;
    /* background: linear-gradient(to right,#1E56C0,#0D2A6B ,#1F2A44 ); */
    background: linear-gradient(to bottom ,#1E56C0 ,#1F2A44 );
  
  
}
.top-bar{
 
    width: 100%;
    height: 40px;
     border: none;
    /* background-color: #1F2A44; */
    background-color: #0D2A6B;
}
.top-write{
    color: white;
    font-size: 14px;
    margin-left: 37%;
    padding: 5px;
}
.navbar{

    height: 70px;
    background-color: #FAFAFA;
}

.navbar-brand{
    font-size: 27px; 
    position: absolute;
     font-weight: 700;
}

.search{
    box-shadow: 1px 1px  1px 1px  grey;
    position: absolute;
    margin-left: 10%;
    padding: 8px;
    padding-right: 45%;
    border: none;
    background-color: #F5F5F5;
      border-radius: 8px;
}

.search-btn{
    position: absolute;
    font-size: 20px;
    margin-left: 67%;
    padding: 2px 4px;
    background-color: #D8C4AC;
    color: white;
    background-color:#F36C21;
    border-radius: 0 8px 8px 0;
    /* border-radius: 8px; */
    border: none;
}

.button{

    padding: 3px;
    padding-left:19%;
    margin-left: 72%;

   
}

.login{
    font-size: 20px;
    position: absolute;
    border-radius: 8px;
    padding: 5px 14px;
    margin-left:78%;
    color: white;
 
    background-color: #0D2A6B;

   
}

.login:hover{
    background-color:#111844;
    transition: 0.3s ease;
}

.signup{
    position: absolute;
    font-size: 20px;
    padding: 5px 14px;
    border-radius: 8px;
    margin-left:86%;
    color: white;
    background-color: #0D2A6B;
 
}

.signup:hover{
    background-color:#111844;
    transition: 0.3s ease;
}
.hero-banner{
 
    position: relative;
    width: 100%;
    min-height:70vh;
    display: flex;
   


    background-image: url('top-image.png');
    background-size: cover;
    background-position: center 70%;
    background-repeat: no-repeat;
    overflow: hidden;
  
    


    
}

.hero-overlay {
      /* border: solid black; */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.hero-title{
    margin-top: 20px;
    color:   #FAFAFA;
    margin-left: 400px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
   
   
}

.hero-subtitle{
    
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:  #FAFAFA;
    margin-left: 500px;
    font-size: 20px;
    font-weight: bold;
}


.button2{
    display: block;
    /* border: solid black; */
    padding: 2%;
   
}
.secure{
    position: absolute;
    font-size: 18px;
    color: #111844;
    margin-left: 18%;
    margin-top: 5px;
    font-weight: bold;
}
.secure-logo{
    position: absolute;
    margin-left: 15%;

}

.secure-write{
    position: absolute;
    font-size: 14px;
    color: #111844;
    margin-left: 18%;
    margin-top: 2%;
    font-weight: 500;
}
.earn{
    position: absolute;
    font-size: 19px;
    color: #111844;
    margin-left: 72%;
    margin-top: 7px;
    font-weight: 700;
}

.earn-logo{
    position: absolute;
    margin-left: 68%;
}

.earn-write{
    position: absolute;
    font-size: 14px;
    color: #111844;
    margin-left: 72%;
    margin-top: 2%;
    font-weight: 500;
}
.customer{
    background: linear-gradient(to right, #C62828, red);
    margin-left: 35%;
    padding: 10px 50px 10px 50px;
    box-shadow: 2px 2px 2px 1px red;
    border: none;
    color:  #FAFAFA;
    margin-top: 2px;
    border-radius: 5px;
    
}

.owner{
    background: linear-gradient(to right, #2E7D32 , green);
    box-shadow: 2px 2px 2px 1px green;
    border: none;
    margin-left: 2%;
    padding: 10px 50px 10px 50px;
    color:  #FAFAFA;
     border-radius: 5px;
}

.popular{

    text-align: center;
    color: #111844;
    margin-top: 4px;
    font-weight: 700;
}


.category{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap:25px;
    margin: 40px auto;
    max-width: 1200px;
 
}


.category-item:hover{
    /* transform: translate(-5px); */
    transform: scale(1.4);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
    z-index: 1;

}

.category-item:hover p { color: #1565C0; }


.category-item{

    border-radius: 15px;
    overflow: hidden;
    width: 220px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.category-label{
    margin-top: 12px 0;
    font-size: 18px;
    font-weight: 600;
    color: #111844;
    font-family: 'Poppins',sans-serif
}

.category-image{
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-bottom: 2px solid #eee;
}







