*{
    margin:0;
    padding: 0;
   box-sizing: border-box;
   font-family: sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(180deg, #f8fafc 0%, #e2e8f0 100%);
    display: flex;
    justify-content: center;
    align-items: center;

}
.hero{
    width: 90%;
    max-width: 1200px;
    height: 80vh;
    background: url("login banner.png") no-repeat center;
    background-size: cover;
    border-radius: 16px;
    box-shadow: 0 6px 25px rgba(0,0,0,0.15);
    text-align: center;
    padding: 60px 40px;
    display: flex;
    justify-content: center;
    flex-direction:column;

}


.hero h1{
    /* position: absolute; */
    font-size: 2.8rem;
    font-weight: 700;
    color: #1e293b;
    margin-bottom: 10px;
}


.hero p{
    font-size: 1.2rem;
    color: #475569;
    margin-bottom: 40px;
}



.main{
    background: rgba(255,255,255,0.6);
    backdrop-filter: blur(5px);
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    padding: 30px;
    width: 350px;
    margin-top:5%;
    margin-left: 35%;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.email-label,
.password-label{
    font-size: 0.95rem;
    color:#334155;
    margin-bottom: 5px;
    display: block;
    text-align: left;
    width: 100%;
}
.email,.password{
    width: 100%;
    padding-left: 35px;
    border: 1px solid #cbd5e1;
    border-radius: 6px;
    font-size: 0.95rem;
    position: relative;
}

.fa-solid{
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    color: #647464;
    font-size: 1rem;
}

.form-group{
    position: relative;
    width: 100%;
    max-width: 320px;
    margin-bottom: 20px;
}

.main label{
    font-size: 0.95rem;
    color: #334155;
    margin-bottom: 5px;
    display: block;
}

.main input{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #cbd5e1;
    border-radius: 6px;
    font-size: 0.95rem;
}


.btn{
    width: 100%;
    max-width: 320px;
    padding: 12px;
    background-color: #f97316;
    color: #fff;
    font-weight: 600;
    border: none;
    border-radius: 6px;
    cursor: pointer;
   

}
.btn:hover{
    background-color: #ea580c;

}

.remember{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap:8px;
    font-size: 0.9rem;
    color: #334155;
    width: 100%;
    max-width: 320px;

}
.main p{
    text-align: center;
    margin-top: 12px;
    font-size: 0.9rem;
}

.main a{
    color: #2563eb;
    text-decoration: none;
    font-weight: 500;
}

/* Responsive */
@media (max-width:768px){
    .hero{
        height: auto;
        padding: 40px 20px;
    }

    .main{
        width: 90%;
    }

    .hero h1{
        font-size: 2rem;
    }
    .hero p{
        font-size: 1rem;
    }
}