*{
    margin:0;
    padding: 0;
   box-sizing: border-box;
   font-family: sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(180deg, #f8fafc 0%, #e2e8f0 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "poppins",sans-serif;

}

.hero{
    width: 90%;
    height: 50vh;
    background: url("login banner.png") no-repeat center;
    background-size: cover;
    border-radius: 16px;
    box-shadow: 0 6px 25px rgba(0,0,0,0.15);
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction:column;
    align-items: center;

}


.hero-text h2{

    font-size: 2.8rem;
    font-weight: 700;
    color: #1e293b;
    margin-bottom: 10px;
}


.hero-text p{
    font-size: 1.2rem;
    color: #475569;
    margin-bottom: 80px;
}



.main{
    background: rgba(255,255,255,0.6);
    backdrop-filter: blur(3px);
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.15);
    padding:50px;
    width: 350px;
    height: 100vh;

    display:block ;

    top: 20px;
    bottom: 20px;
    flex-direction: column;
    align-items: center;
}


.main form{
    font-weight: bold;
    display: block;
    flex-direction: column;
    align-items: center;
}

.email-label,
.password-label{
    font-size: 0.95rem;
    color:#334155;
    margin-bottom: 5px;
    display: block;
    text-align: left;
    width: 100%;

}
.email,.password{
    width: 100%;
    padding-left: 35px;
    border: 1px solid #cbd5e1;
    border-radius: 6px;
    font-size: 0.95rem;
    position: relative;
}


.f{
    margin-top: 0;
}


.main label{

    font-size: 16px;
    color: #334155;
    margin-bottom: 10px;
    display: block;
}

.main input{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #cbd5e1;
    border-radius: 6px;
    font-size: 0.95rem;
}


.btn{
    width: 100%;
    max-width: 320px;
    padding: 12px;
    background-color: #f97316;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-bottom: 15px;

}
.btn:hover{
    background-color: #ea580c;

}

.remember{
    display: flex;
    align-items: center;
    gap: 6px;
    color: #334155;
    margin: 10px 0 ;
    
}

.remember label{
    font-size: 16px;
    white-space: nowrap;
 
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
  transform: scale(1.1);
  cursor: pointer;
  margin-left: 40%;

}


.signup-text{
    font-size: 0.9rem;
    color: #475569;
}
.signup-text a{
    font-weight: 500;
    color: #2563eb;
    text-decoration: none;
}

/* Responsive */
@media (max-width:768px){
    .hero{
        height: auto;
        padding: 40px 20px;
    }

    .main{
        width: 90%;
    }

    .hero h1{
        font-size: 2rem;
    }
    .hero p{
        font-size: 1rem;
    }
}